/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("./common.css");
@import url("./toolbars.css");
@import url("./variables.css");


:root {
  /* from netmonitor/src/assets/styles/variables.css */
  --table-zebra-background: light-dark(rgba(247, 247, 247, 0.8), rgba(255,255,255,0.05));
  --table-selection-background-hover: light-dark(rgba(209, 232, 255, 0.8), rgba(53, 59, 72, 1));
}

.devtools-toolbar {
  display: flex;
  align-items: center;
}

.theme-body {
  background: var(--theme-body-background)
}

.mainFrame {
  display: block;
  height: 100%;
}

.treeTable {
  border-spacing: 0;
  width: 100%;
}

.treeTable .treeRow:nth-child(even) {
  background-color: var(--table-zebra-background);
}

.treeTable .treeRow.highlighted:not(.selected) {
  background-color: var(--theme-selection-background-hover);
}

.treeTable > thead {
  pointer-events: none;
}

.treeTable > tbody tr {
  height: var(--autofill-tree-row-height);
}

.treeTable > tbody td {
  user-select: none;
}

.treeTable > tbody td > span {
  user-select: text;
}

.mainFrame .treeTable .treeRow:not(.selected):not(.autofill-hide-highlight):hover td:not([rowspan]) {
  background-color: var(--table-selection-background-hover);
}

.mainFrame .treeTable td:hover {
  background-color: var(--table-selection-background-hover);
}

.mainFrame .treeTable .treeRow > .autofillForm {
  background-image: url(./icons/formfill-anchor.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
}

.mainFrame .treeTable .treeRow > .addressSection {
  background-image: url(./icons/icon-capture-address-fields.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
}

.mainFrame .treeTable .treeRow > .creditCardSection {
  background-image: url(./icons/icon-credit-card-generic.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
}

.mainFrame .treeTable .treeRow > td {
  padding-inline-start: 4px;
  border-bottom: 1px solid var(--theme-splitter-color);
  font: message-box;
  font-size: var(--autofill-font-size);
  height: var(--theme-toolbar-height);
  color: var(--theme-toolbar-color);
}

.mainFrame .treeTable .treeRow > td {
  border-inline-start: 1px solid var(--grey-25);
}

.mainFrame .treeTable .treeHeaderRow > .treeHeaderCell > .treeHeaderCellBox {
  padding-inline-start: 4px;
  border-inline-start: 1px solid var(--grey-25);
}

.mainFrame .treeTable .treeHeaderCell {
  border-bottom: 1px solid var(--theme-splitter-color);
  background: var(--theme-toolbar-background);
  font: message-box;
  font-size: var(--autofill-font-size);
  height: var(--theme-toolbar-height);
  color: var(--theme-toolbar-color);
}

.devtools-button.autofill-screenshot-button::before {
  background-image: url("./icons/screenshot.svg");
  background-size: 16px 16px;
  background-repeat: no-repeat;
}

.devtools-button.autofill-export-button::before {
  background-image: url("./icons/command-screenshot.svg");
}

.devtools-button.autofill-download-button::before {
  background-image: url("./icons/downloads.svg");
}

.devtools-button.autofill-report-button::before {
  background-image: url("./icons/icon-reportissue.svg");
}

/* From netmonitor/src/assets/styles/Toolbar.css */
.devtools-toolbar .devtools-checkbox {
  position: relative;
  vertical-align: middle;
  bottom: 1px;
}

#devtools-cache-checkbox {
  vertical-align: unset;
  bottom: -1px;
}

.devtools-toolbar .devtools-checkbox-label {
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  white-space: nowrap;
}

.devtools-toolbar .devtools-checkbox-label.devtools-cache-checkbox {
  margin-inline-end: 7px;
}

.treeRow.selected {
  background-color: var(--theme-selection-background);
  color: var(--theme-selection-color);
  /* Rows have tabindex=0 and get a default outline when clicked, but we already
   * have a visible selection style so hiding the outline should be okay. */
  outline: none;
}

